.body-landing{
    padding: 30px 80px;
}

.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 992px) and (max-width: 1100px) {
    .body-landing {
        padding: 30px 30px;
    }
}

@media (max-width: 992px){
    .body-landing{
        padding: 30px 30px;
    }

    .about-me-block{
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }

    .rounded-greeting-block{
        display: block !important;
    }

    .greetings-div{
        margin-left: 0 !important;
        text-align: center;
    }

    .image-main-div{
        justify-content: center;
        margin-bottom: 30px;
    }

    .display-flex {
        display: contents !important;
    }

    .round-pill{
        margin-bottom: 10px;
        margin-right: 10px !important;
    }

    .col-projects-margin{
        margin-bottom: 20px;
    }

    .footer-container {
        margin-top: 60px !important;
    }

}

@media (min-width: 0px) and (max-width: 380px) {
    .circle-image{
        left: 17% !important;
        top: 35px !important;
    }
}

@media (min-width: 380px) and (max-width: 500px) {
    .circle-image{
        left: 22% !important;
        top: 35px !important;
    }
}

@media (min-width: 501px) and (max-width: 650px) {
    .circle-image{
        left: 28% !important;
        top: 35px !important;
    }
}

@media (min-width: 651px) and (max-width: 780px) {
    .circle-image{
        left: 32% !important;
        top: 35px !important;
    }
}

@media (min-width: 781px) and (max-width: 992px) {
    .circle-image{
        left: 36% !important;
        top: 35px !important;
    }
}

@media (min-width: 993px) and (max-width: 1050px) {
    .circle-image{
        left: 20% !important;
        top: 35px !important;
    }
}

@media (min-width: 1051px) and (max-width: 1150px) {
    .circle-image{
        left: 22% !important;
        top: 35px !important;
    }
}

@media (min-width: 1151px) and (max-width: 1350px) {
    .circle-image{
        left: 25% !important;
        top: 35px !important;
    }
}

@media (min-width: 1351px) and (max-width: 1450px) {
    .circle-image{
        left: 27% !important;
        top: 35px !important;
    }
}


.circle-image{
    background: linear-gradient(136.79deg, #a3d9ff 10.17%, rgba(213, 161, 255, 0.97) 100.4%);
    height: 110px;
    width: 110px;
    border-radius: 100%;
    position: absolute;
    left: 26%;
    top: 40px;
    z-index: 0;
}

.rounded-greeting-block{
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 30px;
}

.title-greeting-text{
    background: linear-gradient(270.35deg, #F300A1 -63.54%, #DC0000 11.52%, #6E00DC 97.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 0;
}

.position-greeting-text{
    margin-top: 10px;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
}

.email-greeting-text{
    font-size: 17px;
    font-weight: 500;
    margin-top: 0px;
}

.greetings-div{
    margin-left: 40px;
}

.image-main-div{
    display: flex;
    align-items: center;
}

.image-div{
    background-image: url("profile1.png");
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 110%;
    background-position-y: -50px;
}

.about-me-block{

}

.about-me-text{
    font-size: 18px;
    padding: 40px;
    background: linear-gradient(90.22deg, #FDEFFF 0.19%, #F0F5FC 47.94%, #FFF0F1 99.84%);
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    /*margin-bottom: 30px;*/
}

.projects-block-div{
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

.red-border{
    border: 4px solid #FF5C5C;
}

.blue-border{
    border: 4px solid #0075FF;
}

.pink-border{
    border: 4px solid #FF0099;
}

.project-title{
    font-size: 25px;
    font-weight: 700;
}

.project-short-description{
    font-size: 17px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 7px;
}

.project-achievements{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.red-text{
    color: #D11F1F;
}

.blue-text{
    color: #0075FF;
}

.pink-text{
    color: #FF0099;
}

.section-title-text{
    font-size: 25px;
    font-weight: 800;
}

.display-flex{
    display: flex;
}

.round-pill{
    border: 3px solid #646464;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.round-pill-text{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
}

.section-title-div{
    margin-top: 50px;
}

.language-flag{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.medal-smiley{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.footer-line{
    background: linear-gradient(to right, #8F00FF, #FF007A);
    height: 3px;
}

.footer-text-div{
    padding: 35px;
    text-align: center;
}

.heart-smiley{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.footer-text-big{
    font-size: 20px;
    font-weight: 700;
}

.footer-text-small{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
}

.arrow-more{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.button-more-projects{
    background: #ffe6e5;
    border-radius: 50px;
    width: 100%;
    border: none;
    text-align: left;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 17px;
}

.more-button-container{
    margin-top: 35px;
}

.footer-container{
    margin-top: 80px;
}

.margin-top-more-projects{
    margin-top: 30px;
}